
.news {
  padding: 120px 0;

  background: #151515;
}

.news-grid {
  width: 90%;

  max-width: 1400px;

  margin: auto;

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 35px;
}
.news-card {
  background: #1b1b1b;

  border-radius: 22px;

  overflow: hidden;

  transition: 0.35s;

  border: 1px solid rgba(255, 255, 255, 0.06);
}

.news-card:hover {
  transform: translateY(-10px);

  border-color: #d4af37;

  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.35);
}

.news-image {
  position: relative;

  height: 260px;

  overflow: hidden;
}

.news-image img {
  width: 100%;

  height: 100%;

  object-fit: cover;

  transition: 0.5s;
}

.news-card:hover img {
  transform: scale(1.08);
}

.news-badge {
  position: absolute;

  top: 20px;

  left: 20px;

  background: #d4af37;

  color: #111;

  padding: 8px 18px;

  border-radius: 30px;

  font-size: 13px;

  font-weight: 600;
}

.news-content {
  padding: 30px;
}

.news-content small {
  color: #d4af37;

  display: block;

  margin-bottom: 15px;
}

.news-content h3 {
  font-size: 24px;

  margin-bottom: 18px;

  line-height: 1.4;
}

.news-content p {
  color: #bdbdbd;

  line-height: 1.8;

  margin-bottom: 28px;
}

.news-content a {
  color: #d4af37;

  text-decoration: none;

  font-weight: 600;

  transition: 0.3s;
}

.news-content a:hover {
  color: white;
}
