*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial,Helvetica,sans-serif;
    overflow:hidden;
    background:#000;

}

/* ===================== */

#preloader{

    position:fixed;

    inset:0;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#000;

    z-index:9999;

}

/* VIDEO */

.loader-video{

    width: 180px;

    height:auto;

    display:block;

    object-fit:contain;

    background:#000;

}

#preloader::before{

    content:"";

    position:absolute;

    width:350px;
    height:350px;

    border-radius:50%;

    background:radial-gradient(circle,
        rgba(212,175,55,.45) 0%,
        rgba(212,175,55,.18) 45%,
        transparent 80%);

    filter:blur(45px);

    animation:glow 3s ease-in-out infinite;

}

@keyframes glow{

    0%,100%{
        transform:scale(.9);
        opacity:.5;
    }

    50%{
        transform:scale(1.2);
        opacity:1;
    }

}

#preloader::after{

    content:"";

    position:absolute;
    inset:0;

    background-image:

        radial-gradient(#d4af37 1px, transparent 1px);

    background-size:120px 120px;

    opacity:.15;

    animation:stars 15s linear infinite;

}

@keyframes stars{

    from{

        transform:translateY(0);

    }

    to{

        transform:translateY(-120px);

    }

}