/*==================================================
                    PRELOADER
==================================================*/

#preloader{
    position:fixed;
    inset:0;
    background:#070707;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:99999;
    transition:opacity .8s ease,
               visibility .8s ease;
}

#preloader.hide{
    opacity:0;
    visibility:hidden;
}

/*============================*/

.loader{

    position:relative;

    width:180px;

    height:180px;

    display:flex;

    justify-content:center;

    align-items:center;

}

/*============================*/

.loader-logo{

    width:120px;

    position:relative;

    z-index:2;

    animation:
        logoFade 1.8s ease,
        pulse 2.5s ease infinite;

    filter:
        drop-shadow(0 0 12px rgba(212,170,82,.35));

}

/*============================*/

.loader-ring{

    position:absolute;

    width:170px;

    height:170px;

    border-radius:50%;

    border:2px solid rgba(255,255,255,.06);

}

.loader-ring::before{

    content:"";

    position:absolute;

    inset:-2px;

    border-radius:50%;

    border:2px solid transparent;

    border-top-color:#d8b05a;

    border-right-color:#d8b05a;

    animation:spin 1.3s linear infinite;

}

/*============================*/

.loader::after{

    content:"";

    position:absolute;

    width:230px;

    height:230px;

    border-radius:50%;

    background:radial-gradient(circle,
    rgba(212,170,82,.18) 0%,
    rgba(212,170,82,.05) 45%,
    transparent 70%);

    animation:glow 3s ease infinite;

}

/*============================*/

@keyframes spin{

    to{

        transform:rotate(360deg);

    }

}

@keyframes pulse{

    0%{

        transform:scale(.95);

    }

    50%{

        transform:scale(1.05);

    }

    100%{

        transform:scale(.95);

    }

}

@keyframes glow{

    0%{

        transform:scale(.9);

        opacity:.3;

    }

    50%{

        transform:scale(1.05);

        opacity:1;

    }

    100%{

        transform:scale(.9);

        opacity:.3;

    }

}

@keyframes logoFade{

    from{

        opacity:0;

        transform:scale(.75);

    }

    to{

        opacity:1;

        transform:scale(1);

    }

}